Repository a2f0/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, luacheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: forbid-new-submodules
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^files/shellcheck*
    -   id: luacheck
        name: luacheck
        entry: luacheck
        language: system
        files: \.lua$

fix: luacheck
  CLAUDE.md
  requirements.txt
Due: none

fix: use package manager
  .github/workflows/main.yaml
  CLAUDE.md
Due: none

ai: apply gemini reccomendations
  .luacheckrc
  .pre-commit-config.yaml
Due: none

chore: pnpm config
  files/pnpmrc
  tasks/files.yaml
Due: none

chore: do not deploy npmrc
  files/npmrc
  files/pnpmrc
  tasks/files.yaml
Due: none

chore: optimze imapfilter config
  files/imapfilter.config.lua
Due: luacheck

ai: update pr feedback
  files/imapfilter.config.lua
Due: luacheck

fix: gemini feedback
  files/imapfilter.config.lua
  files/shellcheck/aliases
Due: shellcheck, luacheck

docs: adbsync
  files/shellcheck/syncMusic.sh
Due: shellcheck

fix: restrict reflector to http/https protocols only
  tasks/arch-linux/reflector.yaml
Due: none

chore: update android tools install
  files/bashrc
  files/zshrc
Due: none

chore: alias for pnpm
  files/shellcheck/aliases
Due: shellcheck

fix: pr feedback
  files/bashrc
  files/zshrc
Due: none

config: remove imapfilter account
  files/imapfilter.config.lua
Due: luacheck
