Repository a2f0/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, shellcheck

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

fix: deprecation warnings
  Vagrantfile
  ansible/tasks/copy-ssh-keys-from-host-to-guest.yaml
Due: ansible-lint

fix: pr feedback
  ansible/tasks/copy-ssh-keys-from-host-to-guest.yaml
Due: ansible-lint

chore: add remain alias, vscode title, claude command
  .claude/commands/commit-and-push.md
  files/shellcheck/aliases
  files/visual-studio-code-settings.json
Due: shellcheck

fix: address Gemini PR feedback
  .claude/commands/address-gemini-feedback.md
  .claude/commands/commit-and-push.md
  .claude/commands/follow-up-with-gemini-md
  files/shellcheck/aliases
Due: shellcheck

ci: remove linux build
  .github/workflows/main.yaml
Due: none

feat(tmux): show git branch in status bar
  files/com.mitchellh.ghostty.config
  files/shellcheck/functions
  files/tmux.conf
Due: shellcheck

fix: address Gemini PR feedback
  files/shellcheck/functions
  files/tmux.conf
Due: shellcheck

feat(shell): update tearleads tmux session layout
  files/shellcheck/functions
Due: shellcheck

feat(theme): add Tokyo Night theme to ghostty, nvim, and vscode
  .claude/commands/follow-up-with-gemini.md
  files/com.mitchellh.ghostty.config
  files/nvim.init.lua
  files/visual-studio-code-settings.json
Due: none

fix(nvim): use correct telescope.nvim tag 0.1.6
  files/nvim.init.lua
Due: none

refactor(shell): remove tearleads function
  files/shellcheck/functions
Due: shellcheck

fix(ghostty): use correct TokyoNight theme name
  files/com.mitchellh.ghostty.config
Due: none

feat(claude): add enter-merge-queue and improve commit-and-push skills
  .claude/commands/commit-and-push.md
  .claude/commands/enter-merge-queue.md
Due: none

fix(ansible): resolve deprecations and add terminal configs
  ansible/playbook-macos.yaml
  ansible/tasks/arch-linux/files.yaml
  ansible/tasks/build-epic-4.yaml
  ansible/tasks/files.yaml
  ansible/tasks/go.yaml
  ansible/tasks/macos/files.yaml
  ansible/tasks/macos/fonts.yaml
  ansible/tasks/mcabber.yaml
  files/com.apple.Terminal.plist
  files/com.mitchellh.ghostty.config
Due: ansible-lint

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(yaml|yml)$
  shellcheck: any of: ^files/shellcheck*
