Repository a2f0/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, shellcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: forbid-new-submodules
    -   id: mixed-line-ending

-   repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
    -   id: markdownlint-cli2

-   repo: local
    hooks:
    -   id: ansible-lint
        name: ansible-lint
        entry: ansible-lint
        language: system
        files: ^ansible/.*\.(yaml|yml)$
    -   id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^files/shellcheck*
    -   id: luacheck
        name: luacheck
        entry: luacheck
        language: system
        types: [lua]

chore: sync editor settings and antigravity
  ansible/tasks/arch-linux/files.yaml
  ansible/tasks/macos/files.yaml
  files/antigravity-settings.json
  files/cursor-settings.json
Due: ansible-lint

fix(ansible): use loops for editor configs and remove deprecated setting
  ansible/tasks/arch-linux/files.yaml
  files/antigravity-settings.json
Due: ansible-lint

Manage ansible config
  ansible/tasks/files.yaml
  files/ansible.cfg
  files/shellcheck/functions
Due: ansible-lint, shellcheck

docs(shell): prefer python3 for yt-dlp
  files/shellcheck/functions
Due: shellcheck

chore(macos): add defaults for ui state
  ansible/handlers/macos.yaml
  ansible/playbook-macos.yaml
  ansible/tasks/macos/defaults.yaml
Due: ansible-lint

refactor(macos): use osx_defaults
  ansible/handlers/macos.yaml
  ansible/tasks/macos/defaults.yaml
Due: ansible-lint

chore(imapfilter): trash thinkspan postmaster
  files/imapfilter.config.lua
Due: none

feat(shell): add ytdlp helpers
  files/shellcheck/functions
Due: shellcheck

fix(shell): force mp4 output
  files/shellcheck/functions
Due: shellcheck

refactor(shell): move nvm init to zprofile
  files/zprofile
  files/zshrc
Due: none

fix(shell): validate yt-dlp inputs
  files/shellcheck/functions
Due: shellcheck

fix(shell): harden ytdlp install
  files/shellcheck/functions
Due: shellcheck

feat(shell): add zshenv for agent compatibility
  ansible/tasks/files.yaml
  files/zprofile
  files/zshenv
  files/zshrc
Due: ansible-lint

fix(shell): support Intel Mac homebrew paths
  files/zshenv
  files/zshrc
Due: none
