Repository a2f0/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, shellcheck

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

Track Codex skills
  .gitignore
  ansible/tasks/files.yaml
  files/.codex/config.toml
  files/.codex/skills/deslopify-refactor/SKILL.md
  files/.codex/skills/deslopify-refactor/agents/openai.yaml
  files/.codex/skills/deslopify-refactor/references/isomorphism-card.md
  files/.codex/skills/deslopify-refactor/references/ledger-template.md
  files/.codex/skills/deslopify-refactor/references/pathology-catalog.md
Due: ansible-lint

config: dotfiles
  files/functions-zsh
  files/zshrc
Due: none

feat: add script to swap Alt and Super keys on macOS
  files/shellcheck/swap-alt-super.sh
Due: shellcheck

chore: remove antigravity doc and deslopify-refactor skill
  .gitignore
  ANTIGRAVITY.md
  ansible/tasks/files.yaml
  files/.codex/skills/deslopify-refactor/SKILL.md
  files/.codex/skills/deslopify-refactor/agents/openai.yaml
  files/.codex/skills/deslopify-refactor/references/isomorphism-card.md
  files/.codex/skills/deslopify-refactor/references/ledger-template.md
  files/.codex/skills/deslopify-refactor/references/pathology-catalog.md
Due: ansible-lint

chore: remove antigravity doc and deslopify-refactor skill (#392)
  .gitignore
  ANTIGRAVITY.md
  ansible/tasks/files.yaml
  files/.codex/skills/deslopify-refactor/SKILL.md
  files/.codex/skills/deslopify-refactor/agents/openai.yaml
  files/.codex/skills/deslopify-refactor/references/isomorphism-card.md
  files/.codex/skills/deslopify-refactor/references/ledger-template.md
  files/.codex/skills/deslopify-refactor/references/pathology-catalog.md
Due: ansible-lint

chore: rename CLAUDE.md to AGENTS.md
  AGENTS.md
Due: none

chore: adopt agent-tool shipping workflow
  .agent-tool-skills.json
  .agents/skills/cross-agent-review/SKILL.md
  .agents/skills/open-pr/SKILL.md
  .agents/skills/reset/SKILL.md
  .agents/skills/ship-pr/SKILL.md
  .agents/skills/squash-merge/SKILL.md
  .claude/skills/cross-agent-review/SKILL.md
  .claude/skills/open-pr/SKILL.md
  .claude/skills/reset/SKILL.md
  .claude/skills/ship-pr/SKILL.md
  .claude/skills/squash-merge/SKILL.md
  .github/workflows/main.yaml
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  agent-tool.json
  bun.lock
  package-lock.json
  package.json
Due: none

docs: include the PR number in the reply endpoint
  AGENTS.md
Due: none

chore: adopt agent-tool shipping workflow (#396)
  .agent-tool-skills.json
  .agents/skills/cross-agent-review/SKILL.md
  .agents/skills/open-pr/SKILL.md
  .agents/skills/reset/SKILL.md
  .agents/skills/ship-pr/SKILL.md
  .agents/skills/squash-merge/SKILL.md
  .claude/skills/cross-agent-review/SKILL.md
  .claude/skills/open-pr/SKILL.md
  .claude/skills/reset/SKILL.md
  .claude/skills/ship-pr/SKILL.md
  .claude/skills/squash-merge/SKILL.md
  .github/workflows/main.yaml
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  agent-tool.json
  bun.lock
  package-lock.json
  package.json
Due: none

chore: drop CLAUDE.md and old ship commands
  .agent/workflows/commit-and-push.md
  .agent/workflows/enter-merge-queue.md
  .claude/commands/address-gemini-feedback.md
  .claude/commands/commit-and-push.md
  .claude/commands/enter-merge-queue.md
  .claude/commands/follow-up-with-gemini.md
  AGENTS.md
  CLAUDE.md
Due: none

docs: note Claude Code loads AGENTS.md directly
  AGENTS.md
Due: none

docs: name the instructionFiles default
  AGENTS.md
Due: none

chore: drop CLAUDE.md and old ship commands (#397)
  .agent/workflows/commit-and-push.md
  .agent/workflows/enter-merge-queue.md
  .claude/commands/address-gemini-feedback.md
  .claude/commands/commit-and-push.md
  .claude/commands/enter-merge-queue.md
  .claude/commands/follow-up-with-gemini.md
  AGENTS.md
  CLAUDE.md
Due: none

chore: update repository dependencies
  .github/workflows/main.yaml
  .mise.toml
  .nvmrc
  .pre-commit-config.yaml
  .python-version
  README.md
  bun.lock
  package.json
  requirements.txt
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/variables.tf
Due: none

chore: update Telescope and ignore Terraform plans
  .gitignore
  README.md
  files/nvim.init.lua
Due: none

chore: update repository dependencies (#398)
  .github/workflows/main.yaml
  .gitignore
  .mise.toml
  .nvmrc
  .pre-commit-config.yaml
  .python-version
  README.md
  bun.lock
  files/nvim.init.lua
  package.json
  requirements.txt
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/variables.tf
Due: none

chore: update dependencies
  .agent-tool-skills.json
  .agents/skills/update-dependencies/SKILL.md
  .claude/skills/update-dependencies/SKILL.md
  .github/workflows/main.yaml
  .gitignore
  .mise.toml
  .nvmrc
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  ansible/ansible.cfg
  ansible/handlers/macos.yaml
  ansible/tasks/clone-dotfiles-into-home.yaml
  ansible/tasks/files.yaml
  ansible/tasks/go.yaml
  ansible/tasks/macos/files.yaml
  ansible/tasks/mcabber.yaml
  ansible/tasks/weechat.yaml
  bun.lock
  package.json
  patches/markdownlint@0.41.1.patch
  requirements.txt
  runAnsible.sh
  scripts/ansible_safe_run.py
  tests/markdownlint.test.mjs
  tests/test_ansible_safe_run.py
Due: ansible-lint

fix: close Ansible preview audit gaps
  AGENTS.md
  README.md
  bun.lock
  package.json
  scripts/ansible_safe_run.py
  tests/markdownlint.test.mjs
  tests/test_ansible_safe_run.py
Due: none

chore: sync agent-tool 0.1.10 skills
  .agent-tool-skills.json
  .agents/skills/update-dependencies/SKILL.md
  .claude/skills/update-dependencies/SKILL.md
  bun.lock
  package.json
Due: none

fix: harden Ansible preview validation
  AGENTS.md
  scripts/ansible_safe_run.py
  tests/markdownlint.test.mjs
  tests/test_ansible_safe_run.py
Due: none

fix: bind Ansible previews to stable tasks
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: audit inherited Ansible conditions
  README.md
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: bind Ansible runtime and preferences to preview
  README.md
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: disable executable facts in Ansible previews
  README.md
  ansible/playbook-macos.yaml
  ansible/playbook-ubuntu-linux.yaml
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: ansible-lint

fix: audit Ansible conditions and planned paths
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: isolate Ansible preview runtime and targets
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: exclude implicit Ansible variable files
  README.md
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: close Ansible preview discovery gaps
  README.md
  ansible/playbook-macos.yaml
  ansible/playbook-ubuntu-linux.yaml
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: ansible-lint

fix: bind preview paths and Python environment
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: harden Ansible preview execution
  runAnsible.sh
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: constrain previewed Ansible tasks
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: isolate Ansible preview interpreters
  runAnsible.sh
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: combine repeated Ansible tag selections
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

fix: recheck Ansible plugin paths before apply
  scripts/ansible_safe_run.py
  tests/test_ansible_safe_run.py
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(yaml|yml)$
  shellcheck: any of: ^files/shellcheck*
