Repository a2f0/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, shellcheck

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

fix(ansible): resolve deprecations and add terminal configs
  ansible/playbook-macos.yaml
  ansible/tasks/arch-linux/files.yaml
  ansible/tasks/build-epic-4.yaml
  ansible/tasks/files.yaml
  ansible/tasks/go.yaml
  ansible/tasks/macos/files.yaml
  ansible/tasks/macos/fonts.yaml
  ansible/tasks/mcabber.yaml
  files/com.apple.Terminal.plist
  files/com.mitchellh.ghostty.config
Due: ansible-lint

fix(ansible): remove fonts task due to GitHub SSL issue
  ansible/playbook-macos.yaml
  ansible/tasks/macos/fonts.yaml
  files/com.mitchellh.ghostty.config
Due: ansible-lint

refactor(ansible): use loop for terminal preference symlinks
  ansible/tasks/macos/files.yaml
Due: ansible-lint

fix(ansible): correct dotfiles_dir path in macOS playbook
  ansible/playbook-macos.yaml
Due: ansible-lint

chore: remove thinkspan-related configurations
  ansible/tasks/files.yaml
  files/gitconfig
  files/gitconfig-thinkspan
  files/npmrc
  files/shellcheck/robNewportModuleExampleApp.sh
  files/shellcheck/thinkspanApp.sh
Due: ansible-lint, shellcheck

feat(ansible): refactor tasks and add agent skills
  .agent/workflows/commit-and-push.md
  ANTIGRAVITY.md
  ansible/tasks/files.yaml
  ansible/tasks/macos/files.yaml
Due: ansible-lint

feat(agent): add enter-merge-queue workflow
  .agent/workflows/enter-merge-queue.md
Due: none

fix(ansible): quote paths and increase gpg timeout
  .agent/workflows/commit-and-push.md
  .agent/workflows/enter-merge-queue.md
  ansible/tasks/files.yaml
Due: ansible-lint

fix(zsh): normalize PATH export syntax
  files/zshrc
Due: none

fix(zsh): secure PATH manipulation with parameter expansion
  files/zshrc
Due: none

fix(bash): secure PATH manipulation with parameter expansion
  files/bashrc
Due: none

feat(macos): increase default terminal font size
  files/com.apple.Terminal.plist
Due: none

fix(shell): init rbenv in login shells
  files/zprofile
  files/zshrc
Due: none

fix(shell): harden rbenv init guards
  files/zprofile
  files/zshrc
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(yaml|yml)$
  shellcheck: any of: ^files/shellcheck*
