Repository a2f0/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, luacheck

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

luacheck:
  name: luacheck
  entry: luacheck
  language: system

config: gemini confirm alias
  files/shellcheck/aliases
Due: shellcheck

chore: maintain offlineimap config
  files/offlineimap.py
  files/offlineimaprc.ini
  tasks/files.yaml
Due: none

chore: organize aliases
  files/shellcheck/aliases
Due: shellcheck

fix: apply Gemini code review feedback
  files/offlineimap.py
  files/offlineimaprc.ini
Due: none

chore: add gemini code review config
  .gemini/config.yaml
Due: none

feat: ansible linting
  .ansible-lint
  .ansible/.lock
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  Vagrantfile
  ansible/inventory.yaml
  ansible/playbook-arch-linux-vm.yaml
  ansible/playbook-arch-linux.yaml
  ansible/playbook-debian-linux.yaml
  ansible/playbook-macos.yaml
  ansible/tasks/arch-linux/configure-xfce4.yaml
  ansible/tasks/arch-linux/files.yaml
  ansible/tasks/arch-linux/install-console-packages.yaml
  ansible/tasks/arch-linux/install-xorg-packages.yaml
  ansible/tasks/arch-linux/install-xorg-virtualbox-guest-utils.yaml
  ansible/tasks/arch-linux/reboot.yaml
  ansible/tasks/arch-linux/reflector.yaml
  ansible/tasks/arch-linux/uninstall-default-vagrant-packages.yaml
  ansible/tasks/arch-linux/update-pacman-database.yaml
  ansible/tasks/arch-linux/update-the-entire-system.yaml
  ansible/tasks/arch-linux/users.yaml
  ansible/tasks/build-epic-4.yaml
  ansible/tasks/clone-anduril-into-home.yaml
  ansible/tasks/clone-dotfiles-into-home.yaml
  ansible/tasks/copy-ssh-keys-from-host-to-guest.yaml
  ansible/tasks/files.yaml
  ansible/tasks/go.yaml
  ansible/tasks/macos/files.yaml
  ansible/tasks/mcabber.yaml
  ansible/tasks/rsync-dotfiles-to-home-directory.yaml
  requirements.txt
Due: none

feat: add markdown linting with markdownlint-cli2
  .markdownlint.yaml
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

fix: ansible linting errors
  .ansible-lint
  .ansible/.lock
  ansible/playbook-arch-linux-vm.yaml
  ansible/playbook-arch-linux.yaml
  ansible/playbook-debian-linux.yaml
  ansible/playbook-macos.yaml
  ansible/tasks/arch-linux/configure-xfce4.yaml
  ansible/tasks/arch-linux/files.yaml
  ansible/tasks/arch-linux/install-console-packages.yaml
  ansible/tasks/arch-linux/install-xorg-packages.yaml
  ansible/tasks/arch-linux/install-xorg-virtualbox-guest-utils.yaml
  ansible/tasks/arch-linux/reboot.yaml
  ansible/tasks/arch-linux/reflector.yaml
  ansible/tasks/arch-linux/uninstall-default-vagrant-packages.yaml
  ansible/tasks/arch-linux/update-pacman-database.yaml
  ansible/tasks/arch-linux/update-the-entire-system.yaml
  ansible/tasks/arch-linux/users.yaml
  ansible/tasks/build-epic-4.yaml
  ansible/tasks/clone-anduril-into-home.yaml
  ansible/tasks/clone-dotfiles-into-home.yaml
  ansible/tasks/copy-ssh-keys-from-host-to-guest.yaml
  ansible/tasks/files.yaml
  ansible/tasks/go.yaml
  ansible/tasks/macos/files.yaml
  ansible/tasks/mcabber.yaml
  ansible/tasks/rsync-dotfiles-to-home-directory.yaml
Due: none

chore: update gitignore for ansible linting
  .gitignore
Due: none

fix: optimize pacman installs
  ansible/tasks/arch-linux/install-console-packages.yaml
  ansible/tasks/arch-linux/install-xorg-packages.yaml
Due: none

fix: file association
  .vscode/settings.json
Due: none

chore: sort mail command
  .claude/commands/update-mail-filters-from-offline-imap.md
Due: none

chore: sort mail
  files/imapfilter.config.lua
Due: luacheck

fix: deprecation warnings
  Vagrantfile
  ansible/tasks/copy-ssh-keys-from-host-to-guest.yaml
Due: none

Path conditions:
  shellcheck: any of: ^files/shellcheck*
  luacheck: any of: \.lua$
